* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("binaryRain.gif");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#start-stop {
  
  
  width: 100px;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 5px;
}

.calculator {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  box-sizing: content-box;
  background-color: rgb(88, 1, 88);
  padding: 20px;
  border-radius: 20px;
}

.display-area {
  background-color: rgb(49, 49, 49);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.display-text {
  font-size: 50px;
  padding: 10px;
  color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

#zero {
  flex-basis: 50%;
}

button {
  height: 87px;
  flex-basis: 25%;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 10px;
  font-size: 26px;
}

button:hover {
  background-color: rgb(137, 137, 141);
}

.operator-btn:focus {
  background-color: rgb(137, 137, 141);
}